In [1]:
print('jai shree ram')

jai shree ram

In [2]:
print('rahul rajput here')

rahul rajput here

In [3]:
print('hello world')

hello world

In [4]:
print('hello python')

hello python

|tpoic name|table of content|
|:-:|:-:|
|python code|basic python code|
|----|interger|
|----|float|
|----|converting from one object type to a different|
|----|boolean data type|
|----|negative indexing|
|----|slicing|
|----|stride|
|----|concatenate string|
|----|escape sequence|
|----|string manipulatiuon|
|----|expression|
|----|variable|

In [7]:
%%html
<style>
table{float:left}
</style>

In [8]:
import sys
print(sys.version)

3.12.4 (tags/v3.12.4:8e8a4ba, Jun  6 2024, 19:30:16) [MSC v.1940 64 bit (AMD64)]

In [10]:
type(12)

int

In [11]:
type(12.66)

float

In [12]:
type(12.0)

float

In [13]:
type(-1)

int

In [14]:
type(0)

int

In [15]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

# converting float in to interger

In [21]:
int(2.2)
type(int(2.2))

int

# converting integer in to float

In [26]:
float(6)
type(float(6))

float

# converting from string to integer or flot

In [28]:
int('1')

1

In [30]:
float('1.2')

1.2

# converting number to strings

In [31]:
str(2)

'2'

In [32]:
str(12.2)

'12.2'

## boolean data type

In [34]:
type(True)

bool

In [35]:
type(False)

bool

### We can cast boolean objects to other data types. If we cast a boolean with a value of True to an integer or float we will get a one. If we cast a boolean with a value of False to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a True. And if we cast a 0 to a Boolean we will get a False. Let's give it a try:

## convert true in to int or flaot

In [36]:
int(True)

1

In [40]:
float(True)

1.0

In [41]:
int(False)

0

In [42]:
float(False)

0.0

## convert 1 to boolean

In [37]:
bool(1)

True

## convert 0 to boolean

In [38]:
bool(0)

False

# Exercise: Types

## What is the data type of the result of: 6 / 2?

In [48]:
type(6/2)

float

## What is the type of the result of: 6 // 2?

In [49]:
type(6//2)

int

## What is the type of the result of: "Hello, World!"

In [51]:
type("hello,world!")

str

## What is the type of the result of: "hello" == "world"

In [53]:
type("hello" == "world")

bool

## Write the code to convert the following number representing employeeid "1001" to an integer

In [54]:
int("1001")

1001

## Write the code to convert this number representing financial value "1234.56" to a floating point number

In [55]:
float("1234.56")

1234.56

## Write the code to convert this phone number 123-456-7890 to a string

In [56]:
str('123-456-7890')

'123-456-7890'

# What are Strings?
  - __Use quotation marks for defining string (doubble or single quotation amd number and special cha__
    ___"Michael Jackson" or 'Michael Jackson'or '1 2 3 4 5 6 ' or '@#2_#]&*^%$'___

In [91]:
my_string= "micheal jakson"

In [92]:
name= my_string+"!"
print(name)

micheal jakson!

In [99]:
print(name[-0])

m

In [95]:
print(name[6])

l

In [101]:
print(name[-1])

!

# length of the string

In [102]:
len(name)

15

# slicing

In [104]:
print(name[0:4])

mich

In [105]:
print(name[8:12])

jaks

# Stride
 ### Get every fourth element

In [107]:
print(name[::4])

mejo

 ### Get every second element in the range from index 0 to index 4

In [108]:
print(name[0:5:2])

mce

# Concatenate Strings
 ### Concatenate two strings

In [112]:
statement= name + "is the best"
print(statement)

micheal jakson!is the best

In [113]:
print(3*statement)

micheal jakson!is the bestmicheal jakson!is the bestmicheal jakson!is the best

# Escape Sequences

## New line escape sequence

In [114]:
print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

# Tab escape sequence

In [115]:
print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

# Include back slash in string

In [117]:
print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

# r will tell python that string will be display as raw string

In [118]:
print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

 # String Manipulation Operations

### Convert all the characters in string to upper case

In [1]:
a= "rahul"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: rahul
After upper: RAHUL

# Replace the old substring with the new target substring is the segment has been found in the string

In [13]:
a= "RAHUL IS THE BEST"
b= a.replace('RAHUL','NEHA')
print(b)

NEHA IS THE BEST

# The method find finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence. We can find the sub-string jack or el.

In [30]:
name = "Michael Jackson"
name.find('el')

5

In [32]:
name = "Michael Jackson"
name.find('Jack')

8

In [26]:
name ="rahul rajput"
name.find('hu')

2

# If the sub-string is not in the string then the output is a negative one. For example, the string 'Jasdfasdasdf' is not a substring:

name = "Michael Jackson"
name.find('Jasdfasdasdf')

In [35]:
import re

# The search() function searches for specified patterns within a string. Here is an example that explains how to use the search() function to search for the word "Jackson" in the string "Michael Jackson is the best"

In [38]:
s1 = "Michael Jackson is the best"
pattern = r"Jackson"
result = re.search(pattern, s1)
print(result)

<re.Match object; span=(8, 15), match='Jackson'>

 # Quiz on Strings

 ## What is the value of the variable "___a___" after the following code is executed?

In [46]:
a="1"
type(a)

str

In [47]:
print(a)

1

In [50]:
b="2"
type(b)

str

In [51]:
print(b)

2

 # What is the value of the variable c after the following code is executed?

In [55]:
c= a+b
print(c)

12

# Consider the variable d use slicing to print out the first three elements:

In [56]:
d = "ABCDEFG"
print(d[:3])

ABC

In [57]:
d = "ABCDEFG"
print(d[0:3])

ABC

# Use a stride value of 2 to print out every second character of the string e:

In [58]:
e = 'clocrkr1e1c1t'
print(e[::2])

correct

# Convert the variable f to uppercase:

In [68]:
 f = "You are wrong"
print("before upper",f)
 b =f.upper()
print("after upper",b)

before upper You are wrong
after upper YOU ARE WRONG

# Convert the variable f2 to lowercase:

In [69]:
f2="YOU ARE RIGHT"
print("befor lower",f2)
n=f2.lower()
print("after lower",n)

befor lower YOU ARE RIGHT
after lower you are right

# Consider the variable g, and find the first index of the sub-string snow:

In [75]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find("snow")

95

In [83]:
b = g.replace("Mary","bob")
print(b)

bob had a little lamb Little lamb, little lamb bob had a little lamb Its fleece was white as snow And everywhere that bob went bob went, bob went Everywhere that bob went The lamb was sure to go

In [85]:
n=g.split()
print(n)

['Mary', 'had', 'a', 'little', 'lamb', 'Little', 'lamb,', 'little', 'lamb', 'Mary', 'had', 'a', 'little', 'lamb', 'Its', 'fleece', 'was', 'white', 'as', 'snow', 'And', 'everywhere', 'that', 'Mary', 'went', 'Mary', 'went,', 'Mary', 'went', 'Everywhere', 'that', 'Mary', 'went', 'The', 'lamb', 'was', 'sure', 'to', 'go']

# In the string str1, replace the sub-string fox with bear using sub() function:

In [93]:
str1= "The quick brown fox jumps over the lazy dog."
new_str1 = re.sub(r"fox", "bear", str1)
print(new_str1)

The quick brown bear jumps over the lazy dog.

# In the string str2 find all the occurrences of woo using findall() function:

In [96]:
str2= "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"
matches = re.findall(r"woo", str2)
print(matches)

['woo', 'woo', 'woo', 'woo']